Repository ansys/grantami-bomanalytics, pull requests merged in 2024-05, with the labels that each got.

#509 Use more modern PyGranta-style CI
  .github/workflows/ci_cd.yml
  .github/workflows/local_checks.yml
  .github/workflows/server_checks.yml
  doc/Makefile
  doc/make.bat
  doc/source/conf.py
  pyproject.toml
  tox.ini
Labels: documentation, maintenance

#510 CI - 490 - Add changelog generation
  .github/workflows/ci_cd.yml
  .github/workflows/label.yml
  CHANGELOG.md
  doc/changelog.d/510.changed.md
  doc/changelog.d/changelog_template.jinja
  pyproject.toml
Labels: maintenance

#513 Update openapi-common reference link
  doc/changelog.d/513.miscellaneous.md
  doc/source/conf.py
Labels: documentation

#518 Define labels and add label sync CI
  .github/labels.yml
  .github/workflows/label.yml
  doc/changelog.d/518.changed.md
Labels: maintenance

#526 Prepare 2.1 Release
  doc/source/conf.py
  poetry.lock
  pyproject.toml
Labels: documentation, dependencies, maintenance

#519 Do not run changelog-fragment for dependabot-initiated PRs
  .github/workflows/label.yml
  doc/changelog.d/519.changed.md
Labels: maintenance

#528 MAINT - Update trove classifier
  pyproject.toml
Labels: bug, maintenance

#529 Update changelog
  CHANGELOG.md
  doc/changelog.d/529.changed.md
Labels: maintenance
