Repository ansys/grantami-bomanalytics, pull requests merged in 2024-04, with the labels that each got.

#465 Add substance amounts to compliance
  CHANGELOG.md
  examples/2_Compliance_Queries/2-2_Material_compliance.py
  poetry.lock
  pyproject.toml
  src/ansys/grantami/bomanalytics/_item_results.py
  tests/inputs/examples.py
  tests/test_mocked_responses/common.py
  tests/test_mocked_responses/test_materials.py
  tests/test_mocked_responses/test_parts.py
  tests/test_mocked_responses/test_specifications.py
  tests/test_mocked_responses/test_substances.py
Labels: documentation, enhancement, dependencies, maintenance

#467 Remove indent for single-level bulleted lists
  CHANGELOG.md
  src/ansys/grantami/bomanalytics/_allowed_types.py
  src/ansys/grantami/bomanalytics/_item_results.py
Labels: bug

#468 Add missing versionadded directives
  CHANGELOG.md
  doc/source/api/bom_builder/api.rst
  doc/source/api/bom_builder/index.rst
  doc/source/api/sustainability/index.rst
  src/ansys/grantami/bomanalytics/_bom_helper.py
  src/ansys/grantami/bomanalytics/_connection.py
  src/ansys/grantami/bomanalytics/_item_definitions.py
  src/ansys/grantami/bomanalytics/_item_results.py
  src/ansys/grantami/bomanalytics/_query_results.py
  src/ansys/grantami/bomanalytics/bom_types/_builders.py
  src/ansys/grantami/bomanalytics/indicators.py
  src/ansys/grantami/bomanalytics/queries.py
  src/ansys/grantami/bomanalytics/schemas/__init__.py
Labels: documentation

#469 Extend timeout
  cicd/check_server.py
Labels: maintenance

#462 Maint: license headers pre-commit hook
  src/ansys/grantami/bomanalytics/__init__.py
  src/ansys/grantami/bomanalytics/_allowed_types.py
  src/ansys/grantami/bomanalytics/_bom_helper.py
  src/ansys/grantami/bomanalytics/_connection.py
  src/ansys/grantami/bomanalytics/_exceptions.py
  src/ansys/grantami/bomanalytics/_item_definitions.py
  src/ansys/grantami/bomanalytics/_item_results.py
  src/ansys/grantami/bomanalytics/_logger.py
  src/ansys/grantami/bomanalytics/_query_results.py
  src/ansys/grantami/bomanalytics/_typing.py
  src/ansys/grantami/bomanalytics/bom_types/__init__.py
  src/ansys/grantami/bomanalytics/bom_types/_bom_reader.py
  src/ansys/grantami/bomanalytics/bom_types/_bom_types.py
  src/ansys/grantami/bomanalytics/bom_types/_bom_writer.py
  src/ansys/grantami/bomanalytics/bom_types/_builders.py
  src/ansys/grantami/bomanalytics/indicators.py
  src/ansys/grantami/bomanalytics/queries.py
  src/ansys/grantami/bomanalytics/schemas/__init__.py
  tests/__init__.py
  tests/common.py
  tests/conftest.py
  tests/inputs/__init__.py
  tests/inputs/examples.py
  tests/test_allowed_types.py
  tests/test_argument_managers.py
  tests/test_bom_builders.py
  tests/test_bom_handler.py
  tests/test_bom_indicators.py
  tests/test_bom_item_definitions.py
  tests/test_connection.py
  tests/test_examples.py
  tests/test_integration_tests.py
  tests/test_item_results.py
  tests/test_mocked_responses/__init__.py
  tests/test_mocked_responses/common.py
  tests/test_mocked_responses/test_bom.py
  tests/test_mocked_responses/test_licensing.py
  tests/test_mocked_responses/test_materials.py
  tests/test_mocked_responses/test_messages.py
  tests/test_mocked_responses/test_parts.py
  tests/test_mocked_responses/test_specifications.py
  tests/test_mocked_responses/test_substances.py
  tests/test_mocked_responses/test_sustainability.py
  tests/test_query_builders/__init__.py
  tests/test_query_builders/common.py
  tests/test_query_builders/test_bom.py
  tests/test_query_builders/test_common_queries.py
  tests/test_query_builders/test_materials.py
  tests/test_query_builders/test_parts.py
  tests/test_query_builders/test_specifications.py
  tests/test_query_builders/test_substances.py
  tests/test_query_builders/test_sustainability.py
Labels: maintenance

#471 Prepare for alpha0 release
  pyproject.toml
Labels: maintenance

#477 Add upload to codecov
  .github/workflows/local_checks.yml
  .github/workflows/server_checks.yml
  pyproject.toml
Labels: maintenance

#478 CI - Check for active runs before stopping VM
  .github/workflows/check-concurrent-workflows.yml
  .github/workflows/server_checks.yml
Labels: maintenance

#488 DOC - Add Contributors and AUTHORS
  AUTHORS
  CONTRIBUTORS.md
Labels: documentation

#495 Update labelling workflow
  .github/dependabot.yml
  .github/labeler.yml
  .github/release.yml
  .github/workflows/label.yml
Labels: maintenance

#498 Use PyGranta workflow to check for active runs
  .github/workflows/check-concurrent-workflows.yml
  .github/workflows/server_checks.yml
Labels: maintenance
