Repository ansys/grantami-bomanalytics, pull requests merged in 2024-09, with the labels that each got.

#607 Update acceptance tests for 2025 R1 database
  doc/changelog.d/607.documentation.md
  examples/4_Sustainability/supporting-files/bom-2301-assembly.xml
  tests/test_integration_tests.py
Labels: documentation, maintenance

#616 Update repository link in pyproject.toml
  doc/changelog.d/616.documentation.md
  pyproject.toml
Labels: documentation, maintenance

#617 Configure environment for trusted publisher release
  .github/workflows/ci_cd.yml
  doc/changelog.d/617.maintenance.md
Labels: maintenance

#619 Fix installation example for git dependency
  README.rst
  doc/changelog.d/619.documentation.md
Labels: documentation

#620 Add link to PyGranta version compatibility documentation
  README.rst
  doc/changelog.d/620.documentation.md
Labels: documentation

#621 Add link to supported authentication schemes
  doc/changelog.d/621.documentation.md
  doc/source/conf.py
  doc/source/getting_started/index.rst
  doc/styles/config/vocabularies/ANSYS/accept.txt
Labels: documentation

#622 Improve VM management in CI
  .github/workflows/server_checks.yml
  doc/changelog.d/622.maintenance.md
Labels: maintenance
