Repository ansys/grantami-bomanalytics, pull requests merged in 2025-03, with the labels that each got.

#726 Improve documentation of Enum classes
  doc/changelog.d/726.added.md
  doc/source/api/compliance/indicators.rst
  doc/source/conf.py
  poetry.lock
  pyproject.toml
  src/ansys/grantami/bomanalytics/indicators.py
  tests/conftest.py
Labels: documentation, enhancement, dependencies, maintenance

#724 Add transport groupings by part and by category to sustainability summary results
  doc/changelog.d/724.added.md
  doc/source/api/sustainability/bom_summary.rst
  examples/4_Sustainability/4-1_BoM_Sustainability_summary.py
  poetry.lock
  pyproject.toml
  src/ansys/grantami/bomanalytics/__init__.py
  src/ansys/grantami/bomanalytics/_item_results.py
  src/ansys/grantami/bomanalytics/_query_results.py
  src/ansys/grantami/bomanalytics/queries.py
  tests/inputs/examples.py
  tests/inputs/sustainability-bom-2412.xml
  tests/test_integration_tests.py
  tests/test_mocked_responses/test_sustainability.py
Labels: documentation, enhancement, dependencies, maintenance

#735 Add ImplactedSubstance and Compliance integration tests for 24/12 BoMs
  doc/changelog.d/735.added.md
  tests/test_integration_tests.py
Labels: enhancement

#728 Update examples to include transport results
  doc/changelog.d/728.documentation.md
  examples/3_Advanced_Topics/3-1_Working_with_XML_BoMs.py
  examples/3_Advanced_Topics/supporting-files/compliance-bom.xml
  examples/4_Sustainability/4-1_BoM_Sustainability_summary.py
  examples/4_Sustainability/4-2_BoM_Sustainability.py
  examples/4_Sustainability/supporting-files/sustainability-bom-2301.xml
  examples/4_Sustainability/supporting-files/sustainability-bom-2412.xml
  tests/common.py
  tests/conftest.py
  tests/inputs/__init__.py
Labels: documentation

#738 Documentation review
  doc/changelog.d/738.documentation.md
  doc/source/api/bom_builder/eco2301.rst
  doc/source/api/bom_builder/eco2412.rst
  doc/source/api/bom_builder/gbt1205.rst
  doc/source/api/bom_builder/index.rst
  doc/source/api/compliance/index.rst
  doc/source/api/impacted_substances/index.rst
  doc/source/api/sustainability/index.rst
  doc/source/conf.py
  examples/4_Sustainability/4-1_BoM_Sustainability_summary.py
  examples/4_Sustainability/4-2_BoM_Sustainability.py
Labels: documentation

#741 Update ansys-openapi-common to 2.2.2
  doc/changelog.d/741.dependencies.md
  poetry.lock
Labels: dependencies, maintenance

#742 Fix Dependabot Configuration for Private PyPI
  .github/dependabot.yml
  doc/changelog.d/742.maintenance.md
Labels: maintenance

#740 Update jinja2 to 3.1.6
  doc/changelog.d/740.dependencies.md
  poetry.lock
Labels: dependencies, maintenance

#748 Allow dependabot server checks to run in parallel
  .github/workflows/server_checks.yml
  doc/changelog.d/748.maintenance.md
Labels: maintenance

#749 Move Integration Test check to top-level workflow
  .github/workflows/ci_cd.yml
  .github/workflows/server_checks.yml
  doc/changelog.d/749.maintenance.md
Labels: maintenance
