Repository ansys/grantami-bomanalytics, pull requests merged in 2025-05, with the labels that each got.

#772 Use PyPI-authored publish action
  .github/workflows/ci_cd.yml
  doc/changelog.d/772.maintenance.md
Labels: maintenance

#773 Generate provenance attestations
  .github/workflows/ci_cd.yml
  doc/changelog.d/773.maintenance.md
Labels: maintenance

#776 Bump version to 2.3
  doc/changelog.d/776.maintenance.md
  pyproject.toml
Labels: maintenance

#781 Update bomanalytics-openapi to v4.0.0rc1
  .github/workflows/server_checks.yml
  doc/changelog.d/781.dependencies.md
  poetry.lock
  pyproject.toml
Labels: dependencies, maintenance

#780 Add references to 24/12 BoM format in API documentation
  doc/changelog.d/780.documentation.md
  doc/source/api/bom_builder/index.rst
  doc/source/api/sustainability/index.rst
Labels: documentation

#779 Improve documentation for Granta MI reports bundle version support
  README.rst
  doc/changelog.d/779.documentation.md
Labels: documentation

#785 Use git SHA to pin action version
  .github/workflows/ci_cd.yml
  .github/workflows/dependabot_approve.yml
  .github/workflows/label.yml
  .github/workflows/server_checks.yml
  doc/changelog.d/785.maintenance.md
Labels: maintenance

#786 Update bomanalytics-openapi to 4.0.0rc4
  doc/changelog.d/786.dependencies.md
  poetry.lock
  pyproject.toml
Labels: dependencies, maintenance

#787 Update bomanalytics-openapi dependency to 4.0.0 stable release
  doc/changelog.d/787.dependencies.md
  poetry.lock
  pyproject.toml
Labels: dependencies, maintenance

#788 Remove private PyPI references
  .github/workflows/ci_cd.yml
  .github/workflows/server_checks.yml
  doc/changelog.d/788.dependencies.md
  poetry.lock
  pyproject.toml
Labels: dependencies, maintenance

#790 Move release branch to use release VM
  .github/workflows/server_checks.yml
  doc/changelog.d/790.maintenance.md
Labels: maintenance

#791 Bump version to 2.4.0.dev0
  doc/changelog.d/791.maintenance.md
  pyproject.toml
Labels: maintenance

#795 Include changelog in documentation
  CHANGELOG.md
  doc/changelog.d/795.documentation.md
  doc/changelog.d/changelog_template.jinja
  doc/source/changelog.rst
  doc/source/conf.py
  doc/source/index.rst
  pyproject.toml
Labels: documentation, maintenance

#800 Add an example of creating a BoM from Python classes directly
  doc/changelog.d/800.documentation.md
  examples/3_Advanced_Topics/3-1_Working_with_XML_BoMs.py
  examples/3_Advanced_Topics/3-2_Creating_an_XML_BoM.py
  examples/3_Advanced_Topics/3-3_Dealing_with_external_data_sources.py
  examples/3_Advanced_Topics/3-4_Database-specific_configuration.py
  examples/3_Advanced_Topics/3-5_Writing_compliance_results_to_a_dataframe.py
  examples/3_Advanced_Topics/3-6_Creating_a_Bill_of_Materials.py
  examples/3_Advanced_Topics/index.rst
  tests/conftest.py
Labels: documentation
